.address-bd{
	margin-top: 50px;
	position: relative;
	background: #fff;
	overflow: hidden;
	.address-item{
		position: relative;
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		padding: 10px 15px;
		.default-img{
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 24px;
		}
		.address-item-left{
			position: relative;
			width: 80%;
			.address-item-user{
				div {
					font-size: 16px;
					display: inline-block;
					margin-right: 10px;
					color: #989899;
				}
			}
			.address-item-address-detail{
				font-size: 14px;
				color: #989899;
			}
		}
		.address-item-right {
			.icon {
				width: 30px;
				height: 24px;
				color: #989899;
				text-align: center;
			}
			p {
				font-size: 14px;
				color: #989899;
			}
		}
		&:before{
			.setTopLine(#d9d9d9);
			left:15px;
		}

	}
	&:before{
		.setTopLine(#d9d9d9);
	}
	&:after{
		.setBottomLine(#d9d9d9);
	}
	
}
.header-bd{
	padding-top: 50px;
	padding-bottom: 56px;
}
