.weui_tab {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 56px;
    // 小红点样式
    .red-point{
    	position: absolute;
    	top: -4px;
    	right: -6px;
    	width: 16px;
    	height: 16px;
    	box-sizing: border-box;
    	background: red;
    	border-radius: 50%;
    	font-size: 10px;
    	text-align: center;
    	line-height: 16px;
    	color: #fff;
    }
}
.weui_tabbar_icon{
	position: relative;
}